.dashboard {
  text-align: center;
  width: 850px;
  margin: 30px auto;
}

.item {
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 20px;
  .name {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
  }
}

.new-project {
  color: #aaa;
  border-color: #aaa;
}
