.dashboard {
  text-align: center;
  max-width: 850px;
  margin: 30px auto;
  font-size: 24px;
}

.item {
  color: white;
  background-color: #277DB3;
  border: 1px solid #17486F;
  cursor: pointer;
  display: inline-block;
  width: 200px;
  height: 200px;
  line-height: 200px;
  border-radius: 4px;
  padding: 4px;
  margin: 20px;
  position: relative;
  transition: all 0.15s ease-in-out;
  word-break: break-word;
  .name {
    display: inline-block;
    line-height: 28px;
    vertical-align: middle;
  }
  .close {
    top: 2px;
    right: 8px;
    position: absolute;
    display: none;
    text-shadow: none;
    font-size: 30px;
  }
  .close:focus,
  .close:active {
    outline: none;
  }
}

.item:hover {
  transform: scale(1.05, 1.05);
  color: white;
  background-color: #1E6198;
  border-color: #0D2035;
  .close {
    display: block;
  }
}

.new-project {
  color: #BBB;
  background: #FBFBFB;
  border-color: #DDD;
  .close {
    display: none !important;
  }
}

.new-project:hover {
  color: #777;
  background-color: #F8F8F8;
  border-color: #999;
}

.project-enter {
  opacity: 0.01;
  transform: scale(0.01, 0.01);
}

.project-enter.project-enter-active {
  opacity: 1;
  transform: scale(1.0, 1.0);
  transition: all .25s ease-in;
}

.project-leave {
  opacity: 1;
}

.project-leave.project-leave-active {
  opacity: 0.01;
  transition: all .25s ease-in;
}

.modal-create-project {
  width: 400px;
}
