.project-view {
  max-width: 850px;
  margin: 30px auto;
  padding: 10px;
}

hr {
  margin: 20px 0;
}

.task-container {
  min-height: 200px;
}

.sprint-score {
  font-size: 18px;
  font-weight: bold;
}

.sprint-score-label {
  margin-right: 5px;
}

.sprint-score-score {
  font-weight: normal;
}

.info {
  width: 200px;
  margin-top: 25px;
  margin-left: 100px;
}

.info .sprint-score {
  margin-right: 40px;
}

.progress {
  margin-top: 10px;
}

.btn-container .btn {
  margin-bottom: 5px;
}
