hr {
  margin: 0 0 20px 0;
}

.progress {
  margin: 0 0 5px 0;
  background-color: #fff;
}

.task-container {
  overflow-y: auto;
  padding: 20px 0;
}

.task-container-header {
  margin: 10px;
}

.info {
  display: flex;
  width: 100%;
}

.info-block {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.info-block.days-left {
  font-size: 16px;
  font-weight: normal;
}

.info-block-label {
  font-weight: bold;
  margin-right: 5px;
}

.current-sprint {
  margin: 25px auto 0 auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #F8F8F8;
}

.task-container-no-tasks {
  display: block;
  line-height: 200px;
  font-size: 18px;
  color: #ccc;
  text-align: center;
}

.start-sprint .btn {
  font-size: 16px;
  height: 50px;
}
