hr {
  margin: 0 0 20px 0;
}

.progress {
  margin: 0 0 5px 0;
  background-color: #fff;
}

.info {
  display: flex;
  width: 100%;
}

.info-block {
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  padding: 6px 0;
}

.info-block.days-left {
  font-size: 16px;
  font-weight: normal;
}

.info-block-label {
  font-weight: bold;
  margin-right: 5px;
}

.task-container {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  flex: 1;
}

.task-container-header {
  margin: 10px 0;
  .btn {
    margin-top: 4px;
    margin-right: 16px;
  }
  .info-block {
    height: 40px;
    min-width: 40px;
    padding: 0 6px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}

.task-container-no-tasks-message {
  margin-top: 150px;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #ccc;
}

.start-sprint .btn {
  font-size: 16px;
  height: 50px;
}

.current-sprint {
  min-height: 70px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background: #F8F8F8;
}

.vertical-flex-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.vertical-flex-container-item {
  margin-top: 25px;
}

.horizontal-flex-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  position: relative;
}

.flex-container-item:first-child {
  margin-left: 0;
}

.flex-container-item:last-child {
  margin-right: 0;
}

.flex-container-item {
  margin: 0 5px;
  display: flex;
  flex: 1;
}

.container.vertical-flex-container > div {
  margin-top: 25px;
}

.container.vertical-flex-container > div:last-child {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {

  .horizontal-flex-container {
    flex-direction: column-reverse;
  }

  .container {
    margin: 0;
  }

  .task-container-no-tasks-message {
    margin-top: 0;
  }

  .horizontal-flex-container {
    margin-top: 0 !important;
  }

  .flex-container-item {
    width: 100% !important;
    height: auto;
    margin: 0;
    margin-top: 25px;
  }
}
