@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
}

.navbar {
  margin-bottom: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.btn {
  display: block;
  width: 100%;
  border-radius: 5px;
}

.primary {
  color: white;
  background: #277DB3;
}

.primary:hover,
.primary:focus {
  color: white;
  background: #17466C;
}

.danger {
  color: white;
  background: #801515;
}

.danger:hover,
.danger:focus {
  color: white;
  background: #550000;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

input,
textarea {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* bootstrap modals */
.modal-header {
  text-align: center;
}

.modal-body {
  text-align: center;
  padding: 0 15%;
}

.modal-footer {
  clear: both;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}

@import "components/sprintboard/sprintboard.css";
@import "components/project/project.css";
@import "components/dashboard/dashboard.css";
@import "components/dashboard/createProject.css";
@import "components/tasks/task.css";
@import "components/tasks/createTask.css";
@import "components/notifications/notification.css";
